html, body, #root, .app-wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.page-content {
  flex: 1;
}
